header,footer{
    margin:auto;
    background-color: #000000;
}

header,footer{
    border:1px solid;
    
    width:100%;
}

nav{
    background-color: #000000;
    position:relative;  
    width:100%;
}
ul{
    list-style-type: none;
    position: relative;   
}

/*
ul li{
    margin-left: 1%;
    margin-right:22%;
    float:left;
    
}

ul a{
    display: block;   
}
*/

#facebook{
    position:absolute;
    margin-left:15%;
    margin-top: 3%;
    text-decoration:none; 
}   

#instagram{
    position:absolute;
    margin-left:35%;
    margin-top: 3%;
    text-decoration:none; 
} 
#twitter{
    position:absolute;
    margin-left:55%;
    margin-top: 3%;
    text-decoration:none; 
} 
#youtube{
    position:absolute;
    margin-left:75%;
    margin-top: 3%;
    text-decoration:none; 
} 

#titulo1{
    position:relative;
    top:700px;
    left:100px;
}